<div class="container">
    <div class="card p-4">
        <div class="row">
            <div class="col-6">

                <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Name</mat-label>
                        <mat-select [(ngModel)]="product.productName" name="productName">
                          <mat-option value="Recharge Coupons">Recharge Coupons</mat-option>
                          <mat-option value="E-top amounts">E-top amounts</mat-option>
                          <mat-option value="Sim cards">Sim cards</mat-option>
                        </mat-select>
                      </mat-form-field>
                      

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Description</mat-label>
                        <input matInput placeholder="Product Description" [(ngModel)]="product.productDescription"
                            name="productDescription">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Actual Price</mat-label>
                        <input matInput placeholder="Product Actual Price" [(ngModel)]="product.productActualPrice"
                            name="productActualPrice">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Discounted Price</mat-label>
                        <input matInput placeholder="Product Discounted Price"
                            [(ngModel)]="product.productDiscountedPrice" name="productDiscountedPrice">
                    </mat-form-field>
                    
                    <!--  -->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product quantity</mat-label>
                        <input matInput placeholder="Product quantity" [(ngModel)]="product.quantity"
                            name="quantity">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Udated by</mat-label>
                        <input matInput placeholder="Enter your username" [(ngModel)]="product.updatedBy"
                            name="updatedBy">
                    </mat-form-field>
                    <!--  -->


                    <div align="end">
                        <button mat-stroked-button color="primary" style="margin-right: 4px;"
                            type="button" (click)="clearForm(productForm)">Clear</button>
                        <button type="submit" mat-stroked-button color="primary" *ngIf="isNewProd">Add Product</button>
                        <button type="submit" mat-stroked-button color="primary" *ngIf="!isNewProd">Update
                            Product</button>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <div>

                    <div class="dropzone" appDrag (files)="fileDropped($event)">
                        <div class="text-wrapper">
                            <div class="centered">
                                Drag and drop your file / <a (click)="selectFile.click()"
                                    class="browse-button">Browse</a> a file
                            </div>
                        </div>
                    </div>

                    <input type="file" style="display: none;" multiple value="select" #selectFile
                        (change)="onFileSelected($event)">
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of product.productImages; let i =index;">
                                <div style="position: relative;">
                                    <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>